@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
* {
  /* /* height: 100vh;
    width: 100%; \\ */
  margin: 0;
  
}


.logoimg {
  height: 17vh;
  width: 17vh;
}
#logoheading {
  font-family: "Passion One", cursive;
  padding-top: 1vh;
  font-size: 3em;
}
#header {
  height: 16vh;
  display: flex;
  align-items: center;
}

.head {
  display: flex;
  justify-content: center;
}
#searchbuttondiv{
    background-color: #FE9213;
   display: flex;
   height: 34vh;
   margin-left: 0;
   align-items:center;
    width: 100%;
    /* max-width: 100%; */
}
.plateimg{
    height: 48vh;
    width: 65vh;
    margin-top: 8vh;
    filter: drop-shadow(-4px 4px 11px #313131);
    
}
#searchbutton{
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 5vh;
    width: 15vh;
    cursor: pointer;
    margin-top: 0.8vh;
   
    
}
#searchB{
   display: flex;
   justify-content: flex-start; 
   width: 48vh;
}
.modal-animation{
    animation: animate 0.8s ;
}
@keyframes animate {
    0%{ 
        
        opacity: 0%;
    }
    100%{
        
        opacity: 100%;
        transform: rotate(360deg);
    }
   
    
}
.close-animation{
    animation: closeanime 0.8s ; 
}
@keyframes closeanime {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        display: none;
        transform: rotate(-360deg);
    }
    
}
#searchbox{
    border-radius: 25px;
    height: 5vh;
    width: 45vh;
    border: solid white;
    padding-left: 1vh;
    margin-right: 1vh;
   
}
#srch{
    padding-left: 1vh;
    
    display: flex;
    flex-wrap: wrap;
}
#searchbox::placeholder{
    padding-left: 1vh;
}
.tagline{
    font-family: "Passion One", cursive;
    font-size: 4.8em;
    color: white;
    letter-spacing: 0.05em;
   
}
.text{
    padding-top: 3vh;
    text-align: center;
    font-family: "Passion One", cursive;
    
}
#random-meal-card{
    border: solid black;
    /* height: fit-content; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 10px gray;
}
#meal-card-flex{
    display: flex;
    justify-content: center;
    margin-left: 1vh;
    margin-right: 1vh;
}

.random-meal-image{
    height: 28vh;
}
#random-meal-details{
    margin: 1vh;
}
h3,h4{
    margin-bottom: 2vh;
}
#modal{
    border:  solid black ;
    /* height: max-content; */
    height: fit-content;
    width: 35%;
    background-color: rgb(248, 240, 231);
    margin-left: 1vh;
    margin-right: 1vh;
    font-family: 'Inter', sans-serif;
    display: none;
    border-radius: 8px;
    text-align: center;
}
#modal-flex{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90%;
    /* bottom: 50vh; */
}
#random-meal-card:hover{
    background-color: #eabc86;
    
}

#modal-close{
    margin-top: 0.5vh;
    margin-right: 0.8vh;
    cursor: pointer;
    background-color: #FE9213;
}
#Searchresults{
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-family: "Passion One", cursive;
}
#cat-search{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    overflow-x: auto;
    /* flex-wrap: wrap; */
    
}
.card{
    box-shadow: 0 0 4px 3px rgb(238, 238, 238) ;
    text-align: center;
    width: fit-content;
    margin: 1rem;
    height: 35vh;
    min-width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    box-shadow: 1px -10px 10px 0 rgba(59,59,59,0.1), inset 0 1px 1px 0 rgba(0,0,0,0.2), inset 0 -2px 0 0 rgba(176, 169, 157, 0.9), inset 0 -2px 3px 0 rgba(0,0,0,0.1), inset 0 -6px 12px 0 rgba(0,0,0,0.1), inset 0 2px 2px 1px rgba(176, 169, 157, 0.9);
    
  }
  /* .card:hover{

       
     
  } */
  #catimg{
    width: 75%;
    height: 65%;
    
  
  }
 
  .title{
    font-size: 1em;
  }
  footer{
    padding: 0.5vh;
    background-color: #FE9213;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
  }
  .socials{
    border-radius: 7px;
    height: 5vh;
    width: 45%;
  }
  #made-with-love{
    font-size: 1em;
  }
@media only screen and (max-width: 1200px) {
    .plateimg{
        display: none;
    }
    .fdf{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tagline{
        font-size: 3em;
        text-align: center;
        margin-bottom: 2vh;
    }
    #searchbutton{
        margin-top: 0.8vh;
    }
    .card{
        margin: 3%;
        min-width: fit-content;
        flex-direction: row;
        height: 34vh;
        display: block;
    }
    #catimg{
        width: 100%;
        height: 70%;
    }
    .title{
        text-align: center;
    }
    .cat-search{
        flex-direction: row;
        overflow-x: auto;
        min-width: 60%;
        justify-content: center;
        height: 45vh;
    }
    #random-meal-card{
        flex-direction: column;
    }
    #searchbox,#srch,.tagline,#searchB{
        width: 90vw;
    }
    #modal{
        width: 80%;
    }
    #modal-flex{
        top: 52%;
    }



}
